# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Scikit-learn
3. Matplotlib
4. Seaborn

|Data Science Tools|
|---|
|Jupyter Notebook|
|Spyder|
|Tensorflow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objectives__
* List of some of the popular languages in data science
* List of some of the commonly used libraries in data science
* List of some of data science tools
* Examples of arithmetic expressions in Python

## Author
Muhammad Suhaili